.pmenucontent{
	overflow-y: hidden;
}
.menucontent{
}
.accountmenu a h3{
	display: inline;
	position: relative;
	top: -6px;
	float: right;
	left: 10px;
	font-size: 110%;
}
.accountmenu a{
	position: absolute;
	float: right;
	right: 10vw;
	top: 0px;
	height: 50px;
	overflow: hidden;
	padding: 0px 60px 50px 0px;
	text-decoration: none;
	color: white;
}
#avatar{
	position: relative;
	top: 2px;
	border-radius: 50px;
	width: 40px;
	height: 40px;
}
#down{
	position: relative;
	float: right;
	top: 0px;
	right: 10vw;
	width: 30px;
	height: 30px;
}
.settingmenu{
	background: silver;
	width: 160px;
	height: 130px;
	position: relative;
	float: right;
	top: 0px;
	right: 4vw;
	border-radius: 5px;
	visibility: hidden;
}
.settingmenu a{
	letter-spacing: 0px;
	text-decoration: none;
	position: relative;
	top: 4px;
	left: 40px;
}
.settingmenu h3{
	color: white;
	font-size: 100%;
	margin: 8px 20px 0px 0px;
}
@media only screen and (max-width: 960px){
	#down{
		right: 10vw;
	}
}